@using MvcRazorThemeableViewEngine.CustomViewEngines
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
	<link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.css" />
    <link href="@Url.Css("Site.css")" rel="stylesheet"/>
</head>
<body>

	<div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="#">MVC 3 Theme Template</a>
          <ul class="nav">
            <li class="active"><a href="home">Home</a></li>	
          </ul>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="content" style="margin-top:60px;">
        <div class="row">
			
			@RenderBody()

			@Html.Action("Index", "ThemeSwitcher")

        </div>
      </div>

      <footer>
        <p>&copy; 2011</p>
      </footer>

    </div>

</body>
</html>